-var speakerList = [{"name": "Adam Williams", "talks": ["Knowing your aaS from a hole in the ground, Exploring SaaS, PaaS, CaaS, and IaaS"], "url": "http://awilliams.github.io/cv"}, {"name": "Aimee Knight", "talks": ["It's Not Dark Magic - Pulling Back the Curtains From Your Stylesheets ", "Getting Comfortable Being Uncomfortable - Lessons Learned One Year After Coding Bootcamp"], "url": "http://www.aimeemarieknight.com/about/"}, {"name": "Allison Benneth", "talks": ["Seven Awesome SQL Server Feature You Can Use ... For Free"], "url": "http://www.sqltran.org/author/adminsqltran-org/"}, {"name": "Andrew Malek", "talks": ["Developers, Why Care About the User?", "Tablets and Hybrids Need Mobile-Optimized Websites, Too!"], "url": "https://twitter.com/malekontheweb"}, {"name": "Ariana Shannon", "talks": [" How to get to Minimum Viable Product"], "url": ""}, {"name": "Barry Stahl", "talks": [" Examples of Micro-Service Architectures"], "url": "http://www.cognitiveinheritance.com/page/Speaking-Engagements.aspx"}, {"name": "Brant Boehmann", "talks": ["Introduction to Graph Databases with Neo4J"], "url": "https://twitter.com/tbrantb"}, {"name": "Cameron Presley", "talks": ["How Functional Programming Made Me A Better Developer ", "How To Have Code Reviews Developers Actually Want"], "url": "https://twitter.com/pcameronpresley"}, {"name": "Chris Gardner", "talks": ["Education vs. Certification ", "Unit Testing with xUnit.net"], "url": "https://twitter.com/freestylecoder"}, {"name": "Christina Aldan", "talks": ["Emotional Intelligence in Design ", "User Experience at Entry Level"], "url": "http://www.iamagoodmix.com/"}, {"name": "Dan Thyer", "talks": ["Mind Blowing Internet of Things (IoT) Projects with Cognitive Services"], "url": "https://twitter.com/logicaldan"}, {"name": "Daniel Barker", "talks": ["Architecting the Future, Abstractions and Metadata"], "url": ""}, {"name": "David Neal", "talks": ["Public Speaking without Barfing on Your Shoes", "Fizz Good and the Art of Delivering Value"], "url": "http://reverentgeek.com/about/"}, {"name": "Doguhan Uluca", "talks": ["Do More with Less JavaScript ", "React vs Angular 2"], "url": "https://twitter.com/duluca"}, {"name": "Douglas Starnes", "talks": ["Python, What's in it for You", "Swift 3, Third Time's the Charm ", "Cross Platform Mobile UIs with Xamarin.Forms"], "url": "https://twitter.com/poweredbyaltnet"}, {"name": "Erika Carlson", "talks": ["self.improve(), Building a Technical Career"], "url": "https://twitter.com/eacarlson"}, {"name": "Erin Page", "talks": ["Mentor/Mentee Mashup"], "url": "https://twitter.com/erinmpage"}, {"name": "Gaines Kergosien", "talks": ["How to be a Six Figure Developer"], "url": "https://twitter.com/gainesk"}, {"name": "Gregory Beamer", "talks": ["Automating the Software Delivery Pipeline, DevOps in the Real World"], "url": "https://twitter.com/gbworld"}, {"name": "Gretchen Knode", "talks": ["Being Agile vs doing Agile."], "url": "https://www.linkedin.com/in/gretchenknode"}, {"name": "Hilary Weaver-Robb", "talks": ["Testing RESTful Web Services ", "Your QA Should Be Your BFF"], "url": "https://twitter.com/g33klady"}, {"name": "Haseeb Qureshi", "talks": ["Learning Node.js (Intermediate) -- Packages, Modularity ", "Express ", "Giving Percentage Points? Crash-Course in Equity Vesting and Team Grants"], "url": "http://haseebq.com/"}, {"name": "James Bender", "talks": ["“JavaScript” is Not a Dirty Word ", "Write Better JavaScript with TDD"], "url": "https://twitter.com/jamesbender"}, {"name": "Jamie Phillips", "talks": ["A DevOps Story ", "Putting your builds to work for you, a piece of Cake!"], "url": "http://www.phillipsj.net/"}, {"name": "Jamie Wright", "talks": ["Building Your Own R2 Unit in Ruby"], "url": "https://twitter.com/jwright"}, {"name": "Jared Smith", "talks": ["Figuring Out How You Got Hacked, An Introduction to Forensic Analysis and Volatility"], "url": "https://twitter.com/jaredthecoder"}, {"name": "Jason Bock", "talks": ["What's New in C#7 ", "Learning Rust"], "url": "https://twitter.com/jasonbockb "}, {"name": "Jason Cox", "talks": ["One Codebase to Rule Them All"], "url": "https://twitter.com/jasocox"}, {"name": "Jason Farrell", "talks": ["Introduction to building iOS apps.... with Xamarin"], "url": "https://twitter.com/jfarrell"}, {"name": "Jay Harris", "talks": ["Design for Non-Designers from a Non-Designer ", "Growth, Moving Beyond “Independent Developer”"], "url": "https://twitter.com/jayharris"}, {"name": "Jeremy Clark", "talks": ["Becoming a Social Developer, A Guide for Introverts ", "I'll Get Back to You, Task, Await, and Asynchronous Methods in .NET"], "url": "https://twitter.com/jeremybytes"}, {"name": "Jeremy Fairbank", "talks": ["Functional Programming Basics in ES6 (JavaScript)"], "url": "http://blog.jeremyfairbank.com/"}, {"name": "Jim Wooley", "talks": ["Geting started with Entity Framework Core", ".Net Compiler Platform (Roslyn) and you"], "url": "https://twitter.com/jimwooley"}, {"name": "Joe Walling", "talks": ["Creating a Successful Software Product Company"], "url": "https://www.linkedin.com/in/jwalling/"}, {"name": "Joe Marshall", "talks": ["Basics of Domain Driven Design, the Building Blocks of Successful Architecture"], "url": ""}, {"name": "John Rouda", "talks": ["Technical Leadership 101", "Creating a part-time side hustle"], "url": "https://twitter.com/johnrouda"}, {"name": "John Sterrett", "talks": ["Make Your Own SQL Server Queries Go Faster!", "Performance Tuning Azure SQL Databases"], "url": "https://twitter.com/johnsterrett"}, {"name": "Joseph Guadagno", "talks": ["Bootstrap 4.0 – What’s new? ", "Look into your Application with Visual Studio Application Insights"], "url": "https://twitter.com/jguadagno"}, {"name": "Josh Carroll", "talks": ["Unlocking JavaScript via TypeScript ", "Composing The Future With RxJS"], "url": "https://twitter.com/jwcarroll"}, {"name": "Josh Gretz", "talks": ["React Native In The Wild"], "url": "https://twitter.com/joshgretz"}, {"name": "Justin James", "talks": ["Rapid REST API Development with Node and Sails"], "url": "https://twitter.com/digitaldrummerj"}, {"name": "Kevin Tuttle", "talks": ["Hour(s) of Code - Don't Let Your Kids Grow Up To Be Lawyers"], "url": "https://twitter.com/kevinbtuttle"}, {"name": "Kristina Hardin", "talks": ["Details of Design, The Fine Art of Designing Web Experiences"], "url": "https://twitter.com/kristinadutton"}, {"name": "Lee Brandt", "talks": ["Dockerize Your .NET Development ", "JavaScript LevelUp"], "url": "https://twitter.com/leebrandt"}, {"name": "Magnus Stahre", "talks": ["git gone wild, how to recover from common git mistakes. ", "Taking a byte of Java Bytecode"], "url": "https://twitter.com/magnusstahre"}, {"name": "Mark Wilson", "talks": ["Authentication in Angular"], "url": "https://twitter.com/developerinfra"}, {"name": "Matt Honeycutt", "talks": ["The War is Over, and JavaScript has Won, Living Under the JS Regime ", "Building Mobile Apps with Visual Studio Tools for Apache Cordova"], "url": "https://twitter.com/matthoneycutt"}, {"name": "Matt Loflin", "talks": ["My Journey as a Microsoft Azure Program Manager"], "url": "https://twitter.com/mattloflin"}, {"name": "Matthew Groves", "talks": ["Querying NoSQL with SQL, HAVING Your JSON Cake and SELECTing it too"], "url": "https://twitter.com/mgroves"}, {"name": "Melissa Green", "talks": ["Stop Killing Requirements!", "Coder Careers"], "url": ""}, {"name": "Michael Luetjen", "talks": ["Coding with character. It's the study of logic!"], "url": "https://twitter.com/Criticalclick"}, {"name": "Nate Taylor", "talks": ["Let’s Get Functional with Elixir!", "From Cholera to the Space Shuttle Challenger, What Can We Learn About Professionalism from Other Professionals?"], "url": "https://twitter.com/taylonr"}, {"name": "Paul Hacker", "talks": ["Release Management with Team Services"], "url": "https://twitter.com/pjhacker"}, {"name": "Paul Sheriff", "talks": ["The Basics of How to Unit Test your Code"], "url": "https://twitter.com/PDSAInc"}, {"name": "Philip Japikse", "talks": ["Introduction to Entity Framework Core", "ASP.NET Core MVC - What you need to know"], "url": "https://twitter.com/skimedic"}, {"name": "Reid Evans", "talks": ["A Developer's Journey from Object Oriented to Functional Programming", "The 4 Steps to Becoming a Functional Programmer"], "url": "https://twitter.com/reidnevans"}, {"name": "Sam McClanahan", "talks": ["Bits to Atoms, an introduction to the Fourth Industrial Revolution"], "url": "https://knoxmakers.org/member/sam/"}, {"name": "Samir Behara", "talks": ["Making developers lives easier with SQL Server 2016"], "url": "https://twitter.com/samirbehara"}, {"name": "Shawn Wildermuth", "talks": ["Being a Better Developer, Learning Skills That Aren't On Your Resume", "Developing ASP.NET Core in VS Code"], "url": "https://twitter.com/shawnwildermuth"}, {"name": "Stan Paulauskas", "talks": ["Nuclear Scrum , When Agile Practices meet Nuclear Physics"], "url": ""}, {"name": "Steve Green", "talks": ["Hacking Technical Debt ", "Agile Architecture ", "Crafting Innovation"], "url": "https://twitter.com/stephenpgreen"}, {"name": "Steven Swenson", "talks": ["Writing and Deploying Scalable Applications using Azure Service Fabric"], "url": "https://twitter.com/ctigeek"}, {"name": "Tommy Nguyen", "talks": ["Onboarding, How to Set Clients up for Success"], "url": ""}, {"name": "Joel Cochran", "talks": ["Azure Machine Learning for the Absolute Beginner ", "The road to the white house goes through the cloud"], "url": "https://twitter.com/joelcochran"}, {"name": "Scott Drake", "talks": ["Leadership Skills My Team Wishes I Had When Starting Out"], "url": "https://twitter.com/tscottdrake"}, {"name": "Arlan Nugara", "talks": ["Making ReactJS work with ASP.NET Core MVC ", "Work Smarter, Automation in the cloud"], "url": "https://twitter.com/arlannugara"} ]
    
include doc-head.pug
body
  include header.pug
  div.container
    div.row
      div.col-md-2
      div.col-md-8
        div.col-md-12
          img#pin(src='images/pin.svg' style='margin-right: 5px;')  

          h1#title Mission Statement
        div.col-md-12
          span.tag #Why?
          span.tag #Hello My Name is Tanner
        div.col-xs-6#author
          span By: Tanner West
        div.col-xs-6#date 
         span &nbsp;
        p#first Howdy and thanks for stopping by. I'm a web developer in East Tennessee just getting my start in the field. My current goal is to take on my first junior developer role at a company where I can make valuable contributions from day one. I look forward to joining a team of individuals who I can learn and grow with.
        p My <a href="https://tannerwest.net/projects" title="Projects">projects page</a> will give you an idea of my current strengths. Most of my experience so far has been in front-end development. I've spent a lot of time building projects with Bootstrap, Pug, jQuery, and vanilla JavaScript. Most of my development has been done on Linux in a Node.js environment using Express. This site you're currently viewing is running as an Express app on a Digital Ocean Ubuntu droplet.
        p I enjoy using tools like Gulp and SASS to make life easier. I really want to learn Webpack but I've yet to figure out how to work it into my workflow. The next technologies I want to become comfortable with are Angular and React. I'd also like to become skilled at developing custom Wordpress themes, since Wordpress is still such a popular platform on the web.
        p If you think I'd make a valuable addition to your team, I'd love to hear from you. I also welcome any feedback you may have regarding my site and my projects. You can reach me at west.tanner.j@gmail.com.

    div.row
      div.col-md-2
      div.col-md-8
        h1#title CodeStock 2017 Speakers
        div.col-md-12
          span.tag #Conferences
          span.tag #Knoxville
        div.col-xs-6#author
          span By: Tanner West
        div.col-xs-6#date
         span March 11, 2017
        p#first I'm excited to be attending my first developers' conference, <a href="http://codestock.org/" title="CodeStock">CodeStock 2017</a>, in May. To make sure I get the most of my time there, I've been reading up on all the speakers and their topics to get a feel for which talks I'd like to attend. In the process I've compiled a list all the speakers and their talks, which you can see below. Clicking on each speaker's name will take you to his or her Twitter or website.
        p You can view the JSON data for this list on this <a href="https://gist.github.com/tanner-west/d86b10aad989bd9a436cdcb6c3bb3a2e" title="CodeStock 2017 Speakers">GitHub Gist</a>. I'm having trouble finding URLs for a few of the speakers. If you have any of the missing information, or if you find an error, please let me know. 

        -for (var j = 0; j < speakerList.length; j++)
          -if (j == 0 || j % 3 == 0)
            .row
              -for (var i = j; i < (3 + j); i++ )
                -if (i >= speakerList.length) break;
                    div.col-md-4
                        a(href= speakerList[i].url, title= speakerList[i].name)
                            h3= speakerList[i].name
                        
                        each talk in speakerList[i].talks
                            p= talk
    div.row.entry#why-tnbbq
      div.col-md-2
      div.col-md-8
        h1#title Why Tennessee Barbecue?
        div.col-md-12
          span.tag #Side Projects
          span.tag #Why?
        div.col-xs-6#author
          span By: Tanner West
        div.col-xs-6#date
         span March 1, 2017
        p#first
          | This is the fourth entry in my "Why?" series in which I explain why I chose to undertake each of my side projects. These entries highlight the problems I aimed to solve and the lessons I learned from each project.
        h3 The Problem
        p Most of my side projects are pages for "mock" businesses that don't actually exist, but Tennessee Barbecue is a little different. I plan on turning it into a full-fledged website that people can actually use.
        p The inspiration for TNBBQ came shortly after I discovered <a href="http://www.truecue.org/" title="True Cue">True Cue</a>, a website dedicated to listing "authentic" barbecue joints that cook their pork using wood or wood coals and serve it with a "regionally-appropriate" sauce or dip. I love the site, but I was disappointed to find that they only list joints in Kentucky and the Carolinas. I searched for a site that lists Tennessee barbecue restaurants, only to find that there isn't one. I decided to build one myself.
        P Laying the groundwork for Tennessee Barbecue meant I had to get comfortable with using the Google Maps api and its custom markers feature. Doing so taught me a lot about JavaScript, especially when it comes to event handlers. I also use jQuery to populate a div with a list of barbecue joints that are currently within the maps bounds and to make the site interactive for users. All data is held in JSON format.
        h3 What's Next for This Project?
        p Currently I only have a couple dozen barbecue joints in my TNBBQ data, but I hope to build it into a comprehensive list of all Barbecue joints in Tennessee. I recently registered the domain "tnbarbecue.com" and I hope to move the site there soon. My ultimate goal is to visit these places, talk to the pitmasters who make babecue their life's work, and tell their stories on the site through essays and photos.
    div.row.entry#why-ee
      div.col-md-2
      div.col-md-8
        h1#title Why Element Editor?
        div.col-md-12
          span.tag #Side Projects
          span.tag #Why?
        div.col-xs-6#author
          span By: Tanner West
        div.col-xs-6#date
         span March 1, 2017
        p#first
          | This is the third entry in my "Why?" series in which I explain why I chose to undertake each of my side projects. These entries highlight the problems I aimed to solve and the lessons I learned from each project.
        h3 The Problem
        p At my current job, I pioneered the use of the Bootstrap grid system to make our buyers' guides more visually interesting and easier for the reader to navigate. After formatting a few articles this way, I began to understand how it could quickly become a tedious task to edit web content that was nested in a jungle of .rows and .col-md-whatevers. I found that I needed a way to edit the content of a page one element at a time, simple by clicking on it, without having to be distracted by markup behind it.
        h3 The Challenges
        p Element Editor is a web page that takes a chunk of HTML and assigns a click listener to each element. When that listener is fired, the element is transformed into a textarea input  in which the user can edit the innerHTML content of the original element. The tag type of the original element is preserved as a "data-" HTML attribute. When the user clicks out of the textarea, it is transformed back into its original element type with the new innerHTML.
        h3 What's Next for This Project?
        p To use this tool currently, the user must write their HTML by hand and paste it into page to edit it. To make it even easier on content writers, I'd like to expand this project into a tool that gives the user "templates" with fields that they simply type their content into and click a button to wrap it in the appropriate HTML.



    div.row.entry#why-hipset
      div.col-md-2
      div.col-md-8
        h1#title Why Hipset?
        div.col-md-12
          span.tag #Side Projects
          span.tag #Why?
        div.col-xs-6#author
          span By: Tanner West
        div.col-xs-6#date
         span February 20, 2017
        p#first
          | This is the second entry in my "Why?" series in which I explain why I chose to undertake each of my side projects. These entries highlight the problems I aimed to solve and the lessons I learned from each project.
        h3 The Problem
        p Hipset is a mock hipster fashion blog that I created to experiment with the type of layouts and design you see on media sites like <a href="http://vox.com" title="Vox Media">Vox</a> and <a href="http://qz.com" title="Quartz">Quartz</a>. I like how article links on those sites are presented as big images with the headline positioned to one edge of the div. I also like how each headline's background color changes when you hover over it.
        h3 Challenges
        p Like Moo Cow Lounge, this project taught me the value of using absolute positioning in CSS. It also helped me understand all the different values that <kbd>background</kbd> and <kbd>background-image</kbd> can take.
        p I learned how to create a horizontal div that scrolls using the CSS <kbd>:hover</kbd> event and JavaScript, an effect I use as the interface for scrolling through the list of "guides" midway through the page.  I also discovered the <kbd>white-space</kbd> CSS property, which helped me get the text to display how I wanted it in those guide divs.
        p This project was also one of the first in which I used pug mixins to display content from JSON data. I use mixins to display both the "guide" divs and the "articles" in the last section.

    div.row.entry#why-mcl
      div.col-md-2
      div.col-md-8
        h1#title Why Moo Cow Lounge?
        div.col-md-12
          span.tag #Side Projects
          span.tag #Why?
        div.col-xs-6#author
          span By: Tanner West
        div.col-xs-6#date
         span February 12, 2017
        p#first
          | This is the first entry in my "Why?" series in which I explain why I chose to undertake each of my side projects. These entries highlight the problems I aimed to solve and the lessons I learned from each project.
        h3 The Problem
        p I made Moo Cow Lounge to practice building websites for businesses like restaurants, caf&eacute;s, and boutiques. The format I chose seems to be popular: you have a series of 100% vh divs, each populated with a piece of information about the business. This simple format is all that many businesses need to convey all the essential information to their customers.
        h3 Challenges
        p The biggest challenge I faced with Moo Cow Lounge was getting that first title/nav div to look right on all devices. This project taught me the value of using position: absolute to get elements to go where I want them to.
        p One challenge I've yet to resolve is something that happens on Android browsers when the navigation bar disappears after you scroll the page. The very first background image resizes and it causes the whole page to do a little "jump" that just looks awful. The problem is discussed in detail in <a href="http://stackoverflow.com/questions/24944925/background-image-jumps-when-address-bar-hides-ios-android-mobile-chrome" title="Stack Overflow">this Stack Overflow thread</a>, but I can't seem to get any of those solutions to work.




    div.row
      div.col-md-2
      div.col-md-8
        h1#title Beginning JavaScript: The First Five Minutes
        div.col-md-12
          span.tag #JavaScript
          span.tag #Beginning
        div.col-xs-6#author
          span By: Tanner West
        div.col-xs-6#date
         span February 04, 2017

        p#first
          
          | I'm going to attempt to create the introduction to JavaScript that I wish I had when I started. I'm going to call this the "code first, ask questions later approach." I hope to show absolute beginners a few fun, interesting things that will introduce core concepts and hopefully spark a lasting interest in the language.
        p
          | The first thing I want you to do is press <kbd>ctrl + shift + j</kbd> on your keyboard. This action will open up your browser's developer tools to the "Console" tab. This is your browser's JavaScript console. Here you have access to your browser's JavaScript engine and all the elements on the page. You're probably eager to type something, so type in <kbd>document.getElementById("my-favorite")</kbd> and hit the "Enter" key.

        h2#my-favorite Here Begins Your JavaScript Journey
        p
          | What you've just done is ask the browser to return the element or elements on the page that have an id of "my-favorite," which is obviously the heading just before this paragraph. I gave it that id when I wrote this article, but it could have been anything I wanted it to be.
        p
          | Now try this. In the console, press the "Up" arrow key to bring up the last thing you typed. Go to the end of that line and append it to say the following <kbd>document.getElementById("#my-favorite").innerHTML = "Learning JavaScript is So Much Fun"</kbd>.
        p
          | Look at what happened. You've just told the browser to change the content of that heading. This change only affects the copy of the page that's being displayed in your browser right now. Any changes will be lost if you reload or navigate away from the page.
        p
          | You may be wanting to experiment with your newfound power. Try playing with what you just learned by selecting the elements "second-favorite" and "first".

        h2#second-favorite The Object of Affection  
        p
          | JavaScript is an object-oriented programming language. That means that much of the data you'll interact with comes in the form of an <i>object</i>. An object is simply a type of data that can include collection of more data in the form properties and methods (more on methods in a second). You're interacting with an object in the above example when you type "document". <a href="https://css-tricks.com/dom/" title="CSS Tricks: The DOM">Document is a JavaScript object</a> that represents the page you're currently viewing the browser.
        p 
          | The second piece of the line of code you used above, the ".getElementById()" part, is a <i>method</i> of the Document object that allows developers to return and change elements of the page by selecting them using unique IDs (I hope to teach you more about IDs in subsequent posts). Often, as is the case here, methods can take <i>arguments</i>. In this example, the argument is the ID of the HTML element you want the browser to return.


        h2 Lesson Summary
        p
          | That's all I want to cover in this post. We've gone over quite a bit! You learned how to use your browser's JavaScript console to return HTML elements based on their IDs. In the process, you learned what people mean when they say that JavaScript is an object-oriented programming language.
        p
          | I also introduced you to the concept of methods, which are properties of objects that can be said to "do" something.
        p 
          | In the next post in this series, I'll introduce you to more data types like strings, numbers, and arrays. See you then!



      div.col-md-2
script.
  document.querySelector("#blog-link").classList.add('active');
script(src='nav-button.js')
script(src='js/headerscroller.js')


