
    
include doc-head.pug
  mixin article(articles)
   each article in articles
    -var pubDate = new Date(article.date)
    -var pubDate = pubDate.getMonth() + 1 + "/" + pubDate.getDate() + "/" + pubDate.getFullYear()
    div.row.entry(id=article.acf.a_id)
      div.col-md-2
      div.col-md-8
        h2#title= article.title.rendered
        div.col-md-12
          each tag in article.tags
            span.tag(class="tag-" + tag)
        div.col-xs-6#author
          span By: Tanner West
        div.col-xs-6#date
         span= pubDate
        p!= article.content.rendered
body
  include header.pug
  div.container
    +article(wpContent)

   



      div.col-md-2
script.
  document.querySelector("#blog-link").classList.add('active');
script(src='nav-button.js')
script(src='js/headerscroller.js')




