include doc-head.pug
body
  include header.pug
  div.container
    div.row
      h1.text-center Contact Me
      input#email(onClick="" value="west.tanner.j@gmail.com")
      // Trigger



  script(src='nav-button.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js')  
  script.
    var email = document.getElementById("email");
    email.addEventListener('click', function(){
    this.setSelectionRange(0, this.value.length);
    })


