div.row#nav-row.navbar-fixed-top
    div#affixed
      div.col-md-2
      div.col-md-8
        div.row#logo-nav-row
          div.col-md-6.col-xs-12
            a(href='tannerwest.net' title='tanner west . net')
             h1#logo TANNER WEST
          div.col-md-6.col-xs-12
            ul#nav
              li#active Blog
              li Projects
              li Contact
      div.col-md-2