div.row#nav-row.navbar-fixed-top
    div#affixed
      div.col-md-2.col-sm-12
      div.col-md-8.col-sm-12
        div.row#logo-nav-row
          div.col-md-6.col-xs-12
            a(href='https://tannerwest.net' title='Tanner West')
             h1#logo TANNER WEST
          div.col-md-6.col-xs-12
            ul#nav.invisible

              li#blog-link 
               a(href="https://tannerwest.net/blog" title="Blog") Blog
              li#projects-link 
               a(href="https://tannerwest.net/projects" title="Projects") Projects
              li#contact-link
               a(href="https://tannerwest.net/contact" title="Contact") Contact

      div.col-md-2.col-sm-12
        img#hamburger(src='images/burger.svg')