doctype html
include doc-head.pug
  link(href='css/projects-style.css' rel='stylesheet')
    
  -var projectList = [{"title": "Hipset", "desc": "A mock hipster fashion blog.", "img": "images/hipset.png", "url": "https://tannerwest.net/projects/hip-blog", "repo": "https://github.com/tanner-west/hipster-blog"}, {"title": "Moo Cow Lounge", "desc": "A website for a mock coffee shop.", "img": "images/moo-cow.png", "url": "https://tannerwest.net/projects/moo-cow-lounge", "repo": "https://github.com/tanner-west/moo-cow-lounge"}, {"title": "Broth and Butter", "desc": "A website for a mock specialty foods store.", "img": "images/broth-and-butter.png", "url": "https://tannerwest.net/projects/broth-and-butter", "repo": "https://github.com/tanner-west/broth-and-butter"}, {"title": "Tennessee Barbecue", "desc": "A tool for finding barbecue joints in Tennessee.", "img": "images/tnbbq.png", "url": "https://tannerwest.net/projects/tnbbq", "repo":"https://github.com/tanner-west/tennessee-barbecue"}, {"title": "Element Editor", "desc":"An online tool for editing the content of an HTML document one element at a time.", "img": "images/ee.png", "url": "http://appalcorps.com/editor"}, {"title":"PHP Sales Tool", "desc": "I wrote a simple PHP app to help salespeople at a company compare the advantages of their equipment to competitors. Contact me for more info.", "img":"images/php.png"}]
  mixin projects(projects)
   each project in projects
    div.col-md-4
      div.flip-container.flip-container-desktop
        div.flipper
          div.front(style="background-image: url(" + project.img + ");")
            span.project-label= project.title
          div.back
            div#inlay
              a(href= project.url)
                h2= project.title
              p= project.desc
              if project.url
                a(href= project.url)
                  div#visit
                    span.text-center.go GO!
              if project.repo    
                a(href= project.repo)
                  div#github
body
 div.container 
  include header.pug
  div.row#top-row
    div.col-md-12
       h1.text-center
        span#title-heading Projects
  div#projects
    div.row
     div.col-md-12
      +projects(projectList)
script(src='js/headerscroller.js')
script(src='js/project-flipper.js')
script.
 document.querySelector(".front").style.backgroundPosition = "top left";
 document.querySelector("#projects-link").classList.add('active');
script(src='nav-button.js')



  
