
h1 {
	color: white;
	margin: 0;

}
#title-heading {
	background-color: #720292;
	padding: 10px;
}

.project-label {
	display: none;
	background-color: #BB0052;
	padding: 10px;
	color: white;
	position: absolute;
	left: 40px;
	}

#top-row {
	margin-top: 10px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;

	
}

.front, .back {
		-moz-box-shadow:    0px 1px 3px 1px #ccc;
    -webkit-box-shadow: 0px 1px 3px 1px #ccc;
     box-shadow:         0px 1px 3px 1px #ccc;
}

#visit, #github {
	position: absolute;
	width: 60px;
	height: 60px;
	bottom: 15px;
	background-color: white;
	border-radius: 60px;
	box-shadow: 0px 0px 10px 5px #720292;
	transition: all .25s;


}


#visit {
	right: 15px;
	
}

#github {
	background-image: url('../images/github.png');
	background-repeat: no-repeat;
	background-position: center;
	right: 95px;
}

#github:hover, #visit:hover {
	box-shadow: 0px 0px 10px 5px #75CA00;


}
.go {
	font-size: 25px;
	display: inline-block;
	color: black;
	font-weight: bold;
	margin: 12.5px 0 12.5px 0;
}


.flip-container-mobile {

}


	/* flip the pane when hovered */
	.flip-container-desktop:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 360px;
	margin-bottom: 30px;

}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg) scaleX(-1);


}


#inlay {
		display: inline-block;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.8);
		transform: scaleX(-1);

}
#inlay > p {
		color: white;
		font-size: 1.5em;
		margin: 30px;
		font-family: 'Lora', serif;

}

#inlay > h2, #inlay > a {
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
}